@charset 'utf-8';

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-size: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  align-items: center;
  color: white;
  background-color: black;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

h1 {
  margin: 0;
  font-family: fot-tsukuardgothic-std, sans-serif;
  font-style: normal;
  font-weight: bold;
}

nav ul {
  display: flex;
  gap: 2rem;
  align-items: center;
  font-weight: bold;
}

nav ul li {
  list-style: none;
  font-family: fot-tsukuardgothic-std, sans-serif;
  font-style: normal;
  font-weight: bold;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  color: #ccc;
}


section {
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
}

#hero {
  background-image: url(images/hero2.jpeg);
  /* text-align: center; */
  padding-top: 40vh;
  font-family: fot-tsukuardgothic-std, sans-serif;
  font-style: normal;
  font-weight: 400;
}

#hero h2 {
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 0.2rem 0.2rem 0.2rem green;
}

#hero h2,
#hero p {
  margin: 0 0 0 2rem;
  
}

.flex {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
  padding: 0;
  margin: 2rem;
}

.flex li {
  text-align: center;
}

.flex p {
  margin: 0;
  font-size: 1.2rem;
  font-family: fot-tsukuardgothic-std, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.flex-item {
  max-width: 280px;
  height: 80%;
  object-fit: cover;
  border-radius: 0.1rem;
  box-shadow: 0 0 0.5rem 0.5rem #ccc;
  transition: 0.3s;
  z-index: 9;
}

footer {
  text-align: center;
  background-color: #555;
  padding: 1rem 0 3rem;
  color: white;
}

.flex-item:hover {
  transform: scale(1.1);
}

.flex-footer {
  display: flex;
  justify-content: center;
}

footer ul {
  padding: 0;
}


footer ul li {
  list-style: none;
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
}

footer ul li a {
  color: white;
}

footer ul li a:hover {
  color: #ccc;
}
